// Fonts
$font-accent: "Playfair Display", serif;
$font-main: "Raleway", sans-serif;

// Colors
$color-white: #ffffff;
// Colors El
$color-dark: #242b33;
$color-bg: $color-dark;
$color-accent: #d4c17f;
$color-text: $color-white;
$color-footer-bg: #2d343c;
$color-placeholder: #bebebe;
$color-muted: #e7e7e7;

// Media
$tablet: 999px;
$mobile: 500px;
